<h1 id="tableLabel">Bitcoin explorer</h1>

<p *ngIf="!monitoring"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="monitoring">
  <thead>
  </thead>
  <tbody>
    <tr>
      <td>Current time</td>
      <td>{{ monitoring.currentTime }}</td>
    </tr>
    <tr>
      <td>Bitcoin node status</td>
      <td>{{ monitoring.bitcoinNodeStatus }}</td>
    </tr>

    <tr>
      <td>Block count</td>
      <td>{{ monitoring.bitcoinBlockCount }}</td>
    </tr>

  </tbody>
</table>

<button (click)="onChangeNodeState()">{{ bitcoinNodeAction }}</button>
